@charset "UTF-8";
/* タブエリアのdivへの適用 */
#smallArea {
  /* 基本的なサイズの設定 */
  background-color: #bbedce;
  width: 80px;
  height: 30px;
  padding-top: 4px;

  /* borderに関する設定 */
  border: 1px solid; /* 線の太さと可視化 */
  border-bottom: transparent; /* 下辺を透明に */
  border-top-left-radius: 8px; /* 左上を角丸に */
  border-top-right-radius: 8px; /* 右上を角丸に */

  /* メイン表示エリアの線の太さだけ下にずらす */
  margin-bottom: -1px;

  /* その他の設定 */
  position: relative;
  text-align: center;
}

/* メイン表示エリアのdivへの適用 */
#largeArea {
  /* 基本的なサイズの設定 */
    text-align: center;
  background-color: #fff;
  width: 200px;
  height: 90px;
  padding: 20px;
  /* 枠線を太さ1pxで表示 */
  border: 1px solid;
}

/* コンテンツを見やすく表示 */
.disp-area {
  margin-top: 20px;
  margin-left: 20px;
}
table , td, th {

	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
text-align: center;
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	text-align: center;
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}